<div class="container">  
  <p id="notice"><%= notice %></p>

  <h1>Listing Games</h1>

  <table  class="table table-hover">
    <thead>
      <tr>
        <th>Player A</th>
        <th>Player B</th>
        <th>Duration</th>
        <th>Score player a</th>
        <th>Score player b</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @games.each do |game| %>
        <tr>
          <td><%= game.player_a.name %></td>
          <td><%= game.player_b.name %></td>
          <td><%= game.duration_format %></td>
          <td><%= game.score_player_a %></td>
          <td><%= game.score_player_b %></td>
          <td><%= link_to 'Show', game %></td>
          <td><%= link_to 'Edit', edit_game_path(game) %></td>
          <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Game', new_game_path %>
</div>
